In [0]:
import pandas as pd
import numpy as np

In [0]:
np.random.seed(123)

variables  = ['X', 'Y','Z' ]
labels = ['ID_0','ID_1','ID_2','ID_3','ID_4']

X = np.random.random_sample([5,3])*10
df = pd.DataFrame(X, columns=variables, index=labels)
df

             X         Y         Z
ID_0  6.964692  2.861393  2.268515
ID_1  5.513148  7.194690  4.231065
ID_2  9.807642  6.848297  4.809319
ID_3  3.921175  3.431780  7.290497
ID_4  4.385722  0.596779  3.980443

In [0]:
#array shape returns random sample in [0-1)
np.random.random_sample([5,3]) * 100 #input = array shape

array([[ 73.79954057,  18.24917305,  17.54517561],
       [ 53.15513738,  53.18275871,  63.44009586],
       [ 84.94317941,  72.44553249,  61.10235107],
       [ 72.24433826,  32.29589139,  36.17886556],
       [ 22.82632309,  29.37140464,  63.09761239]])

In [0]:
from scipy.spatial.distance import pdist,squareform
row_dist = pd.DataFrame(squareform(pdist(df, metric='euclidean')), columns=labels, index=labels)
row_dist

          ID_0      ID_1      ID_2      ID_3      ID_4
ID_0  0.000000  4.973534  5.516653  5.899885  3.835396
ID_1  4.973534  0.000000  4.347073  5.104311  6.698233
ID_2  5.516653  4.347073  0.000000  7.244262  8.316594
ID_3  5.899885  5.104311  7.244262  0.000000  4.382864
ID_4  3.835396  6.698233  8.316594  4.382864  0.000000

### Euclidean distance

$\sqrt{(x_2 - x_1)^2 + (y_2 - y_1)^2 + (z_1 - z_2)}$

** *Then, applying this formula manually we have:* **

In [0]:
from math import sqrt as sqrt
sqrt((df.iloc[0,0] - df.iloc[1,0])**2 + (df.iloc[0,1] - df.iloc[1,1])**2\
+ (df.iloc[0,2] - df.iloc[1,2])**2)

4.973534001694992

In [0]:
pdist(df, metric='euclidean')

array([ 4.973534  ,  5.51665266,  5.89988504,  3.83539555,  4.34707339,
        5.10431109,  6.69823298,  7.24426159,  8.31659367,  4.382864  ])

In [0]:
df

             X         Y         Z
ID_0  6.964692  2.861393  2.268515
ID_1  5.513148  7.194690  4.231065
ID_2  9.807642  6.848297  4.809319
ID_3  3.921175  3.431780  7.290497
ID_4  4.385722  0.596779  3.980443